.home_box{
    min-height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: url("../../constants/home.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.title{
    color: #FDFAF6;
    font-family: 'Kanit', sans-serif;
    font-size: 45px;
    margin: none;
}

.btns_box{
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 15px;
}

.order_and_filter_box{
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px 0 30px;
}

.pokemons_box{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    padding-bottom: 15px;
}

.btn{
    border-radius: 10px;
    border: none;
    background: none;
    font-size: 16.5px;
    font-family: 'Rubik', sans-serif;
}

.btn:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.300);
    transition: 0.4s;
}

.audio{
    height: 30px;
    padding: 15px;
    opacity: 0.6;
}