.landing_box{
    height: 100%;
    background: url("https://res.cloudinary.com/mis-fotos/image/upload/v1632691889/Henry%20Pokemon/landing_s9wdiu.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.landing_title{
    color: #FDFAF6;
    font-family: 'Kanit', sans-serif;
    font-size: 45px;

    margin-left: 60px;
}

.landing_btn{
    margin-left: 335px;
    margin-top: 10px;
    width: 58px;
    height: 54px;

    border: none;
    border-radius: 40px;

    color: red;
    font-family: 'Kanit', sans-serif;
    font-size: 15.5px;
}

.landing_btn:hover{
    cursor: pointer;
    background-color: red;
    color: white;
    transition: 0.5s;
}