.landing_box{
    height: 100%;
    background: url("https://images.alphacoders.com/963/963324.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.landing_title{
    color: #FDFAF6;
    font-family: 'Kanit', sans-serif;
    font-size: 45px;

    margin-left: 60px;
}

.landing_btn{
    margin-left: 325px;
    margin-top: 10px;
    width: 54px;
    height: 53px;

    border: none;
    border-radius: 40px;

    color: red;
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
}

.landing_btn:hover{
    cursor: pointer;
    background-color: red;
    color: white;
    transition: 0.5s;
}